.first_nav {
  @include flexCenter;
  justify-content: space-between;
  width: 100%;

  .navbar_brand {
    @include flexCenter;
    text-decoration: none;
    color: $textUse;

    p {
      margin-left: 1rem;
      font-family: "Viga", sans-serif;
      font-size: 2rem;
    }
  }

  .user_profile_name {
    @include flexCenter;

    p {
      font-weight: map-get($font-weights, medium);
    }

    img {
      width: 2.5rem;
      height: 2.5rem;
      margin-left: 1rem;
    }
  }
}

.second_nav {
  @include flexCenter;
  justify-content: flex-start;
  width: 100%;
  height: 2rem;
  padding: 2rem 0 2.5rem 0;
  border-bottom: 1px solid rgba($color: $darkGrayish, $alpha: 0.6);
  margin-bottom: 3rem;

  p {
    position: relative;
    color: $textUse;
    font-weight: map-get($font-weights, medium);
    cursor: pointer;

    &.selected_menu::after {
      content: "";
      position: absolute;
      bottom: -90%;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 0.2rem;
      border-radius: 1rem;
      background-color: $primariBlue;
      animation: lineAnime 0.5s;
    }

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}

.view_appointment_page > table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;

  th,
  td {
    width: 20%;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid rgba($color: $darkGrayish, $alpha: 0.2);
  }

  tr:last-child > td {
    text-align: right;
    border: none;
    padding: 3.5rem 0 2.5rem 0;

    &:first-child {
      text-align: left;
    }

    #make_new_appointment {
      text-decoration: none;
      color: #fff;
      background-color: rgba($color: $thirdBlue, $alpha: 0.9);
      padding: 0.75rem 2rem;
      border-radius: 1rem;
      font-weight: map-get($font-weights, medium);
      transition: all 0.1s ease-in-out;

      &:hover {
        opacity: 0.9;
      }
    }
  }

  th {
    color: rgba($color: $primariBlue, $alpha: 0.8);
    font-weight: map-get($font-weights, bold);
  }

  td {
    padding-top: 1.5rem;
    color: rgba($color: $textUse, $alpha: 0.9);
    font-weight: map-get($font-weights, medium);

    #cancel_appointment,
    #view_note {
      text-decoration: none;
      color: #fff;
      padding: 0.75rem 2rem;
      background-color: rgba($color: $primariBlue, $alpha: 0.9);
      border-radius: 0.625rem;
      border: none;
      font-weight: map-get($font-weights, bold);
      transition: all 0.1s ease-in-out;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.view_profile_page {
  display: flex;
}

.view_profile_page > .user_profile_section {
  @include flexCenter;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  height: 100%;
  margin-left: 4rem;

  img {
    width: 17.5rem;
    height: 17.5rem;
    margin-bottom: 2rem;
  }

  p {
    color: rgba($color: $textUse, $alpha: 1);
    font-weight: map-get($font-weights, bold);

    &:nth-child(3) {
      margin-top: 1rem;
      color: rgba($color: $textUse, $alpha: 0.6);
      font-weight: map-get($font-weights, regular);
    }
  }

  #patientLogout,
  #edit_user_profile {
    text-decoration: none;
    text-align: center;
    margin: 2rem auto;
    padding: 0.65rem 0;
    width: 100%;
    background-color: rgba($color: #c1151b, $alpha: 0.9);
    border-radius: 0.625rem;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    color: rgba($color: #fff, $alpha: 1);
    font-weight: map-get($font-weights, medium);

    &:hover {
      opacity: 0.9;
    }
  }

  #edit_user_profile {
    margin: 3rem 0 0 0;
    background-color: rgba($color: $thirdBlue, $alpha: 0.9);
  }
}

.view_profile_page > .user_profile_detail,
.change_profile_detail {
  width: 75%;
  margin: 0 4rem;
  border-left: 1px solid rgba($color: $textUse, $alpha: 0.3);
  padding-left: 4rem;

  img {
    width: 2rem;
    height: 2rem;
  }
}

.view_profile_page > .change_profile_detail > form {
  @include flexCenter;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 25rem;

  label {
    font-size: 1.5rem;
    font-weight: map-get($font-weights, medium);
  }

  input {
    font-size: 1rem;
    padding: 0.25rem 0;
    width: 20rem;
  }

  #edit_patient {
    font-size: 1.25rem;
    padding: 0.5rem 2rem;
    margin-top: 1rem;
    width: 35%;
    cursor: pointer;
    border: none;
    background-color: $primariBlue;
    color: $whiteGrayish;
    border-radius: 0.625rem;
    font-weight: map-get($font-weights, medium);
    transition: all 0.2s ease-in-out;

    &:hover {
      opacity: 0.9;
    }
  }
}

.view_screening_page {
  
}

.view_note_overlay {
  @include flexCenter;
  position: absolute;
  flex-direction: column;
  justify-content: space-evenly;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 40%;
  background-color: #fff;
  border-radius: 0.75rem;
  z-index: 6;

  #display_note {
    resize: none;
    font-size: 1.25rem;
    pointer-events: none;
  }
}

#ct {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

@keyframes lineAnime {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}
